Pipeline 3.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synapse-for-taxi-app"},"ln_blob_storage":{"type":"string"},"ln_AzureFunction":{"type":"string"},"ln_synapse_analytics":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Pipeline 3')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"StreamTaxiBlobToSynapse","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.json","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"SqlDWSink","allowCopyCommand":true,"copyCommandSettings":{}},"enableStaging":true,"stagingSettings":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"},"path":"staging"}},"inputs":[{"referenceName":"Dataset_Json_Taxi_Raw","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"dataset_synapse","type":"DatasetReference","parameters":{}}]},{"name":"MoveProcessedStreamFile","type":"Copy","dependsOn":[{"activity":"StreamTaxiBlobToSynapse","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.json","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Dataset_Json_Taxi_Raw","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Dataset_Json_Taxi_Raw_Processed","type":"DatasetReference","parameters":{}}]},{"name":"DeleteProcessedFile","type":"Delete","dependsOn":[{"activity":"MoveProcessedStreamFile","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Dataset_Json_Taxi_Raw","type":"DatasetReference","parameters":{}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"}},"enableLogging":true,"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.json","enablePartitionDiscovery":false}}},{"name":"AzureFunctiontoPredictTaxiCallStatus","type":"AzureFunctionActivity","dependsOn":[{"activity":"DeleteProcessedFile","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"functionName":"http_trigger_tester_function","body":{"blob_connection_string":"your_blob_storage_connection_string","input_container_name":"trainedmlmodel","input_blob_name":"random_forest_model.pkl","output_container_name":"predictions","output_blob_name":"predictions.json"},"headers":{},"method":"POST"},"linkedServiceName":{"referenceName":"[parameters('ln_AzureFunction')]","type":"LinkedServiceReference"}},{"name":"PredictionsBlobToSynapse","type":"Copy","dependsOn":[{"activity":"AzureFunctiontoPredictTaxiCallStatus","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.json","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"SqlDWSink","allowCopyCommand":true,"copyCommandSettings":{}},"enableStaging":true,"stagingSettings":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"},"path":"staging-predictions"},"translator":{"type":"TabularTranslator","mappings":[{"source":{"path":"$['eventenqueuedutctime']"},"sink":{"name":"eventenqueuedutctime","type":"String"}},{"source":{"path":"$['trip_id']"},"sink":{"name":"trip_id","type":"String"}},{"source":{"path":"$['booking_source']"},"sink":{"name":"booking_source","type":"String"}},{"source":{"path":"$['day_of_week']"},"sink":{"name":"day_of_week","type":"String"}},{"source":{"path":"$['drivers_review']"},"sink":{"name":"drivers_review","type":"String"}},{"source":{"path":"$['estimated_arrival_time_in_m']"},"sink":{"name":"estimated_arrival_time_in_m","type":"String"}},{"source":{"path":"$['time_of_day']"},"sink":{"name":"time_of_day","type":"String"}},{"source":{"path":"$['traffic_conditions']"},"sink":{"name":"traffic_conditions","type":"String"}},{"source":{"path":"$['weather_conditions']"},"sink":{"name":"weather_conditions","type":"String"}},{"source":{"path":"$['prob_of_cancellation']"},"sink":{"name":"prob_of_cancellation","type":"Double"}}]}},"inputs":[{"referenceName":"Dataset_Predictions_Json","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"predictions_dataset","type":"DatasetReference","parameters":{}}]},{"name":"MoveProcessedPredictionFile","type":"Copy","dependsOn":[{"activity":"PredictionsBlobToSynapse","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.json","enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Dataset_Predictions_Json","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Dataset_Json_Predictions_Processed","type":"DatasetReference","parameters":{}}]},{"name":"DeleteProcessedPredictionsFile","type":"Delete","dependsOn":[{"activity":"MoveProcessedPredictionFile","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Dataset_Predictions_Json","type":"DatasetReference","parameters":{}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"}},"enableLogging":true,"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.json","enablePartitionDiscovery":false}}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-09-23T07:22:10Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/Dataset_Json_Taxi_Raw')]","[concat(variables('workspaceId'), '/datasets/dataset_synapse')]","[concat(variables('workspaceId'), '/datasets/Dataset_Json_Taxi_Raw_Processed')]","[concat(variables('workspaceId'), '/datasets/Dataset_Predictions_Json')]","[concat(variables('workspaceId'), '/datasets/predictions_dataset')]","[concat(variables('workspaceId'), '/datasets/Dataset_Json_Predictions_Processed')]"]},{"name":"[concat(parameters('workspaceName'), '/Dataset_Json_Taxi_Raw')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"taxistreamdata"}},"schema":{"type":"object","properties":{"booking_source":{"type":"string"},"booking_timestamp":{"type":"string"},"day_of_week":{"type":"string"},"destination_location":{"type":"integer"},"driver_id":{"type":"string"},"drivers_current_lat":{"type":"number"},"drivers_current_lon":{"type":"number"},"drivers_location":{"type":"integer"},"drivers_review":{"type":"number"},"estimated_arrival_time_in_m":{"type":"integer"},"estimated_fare":{"type":"number"},"n_passengers":{"type":"integer"},"order_completion_time":{"type":"string"},"passenger_arrival_lat":{"type":"number"},"passenger_arrival_lon":{"type":"number"},"passenger_current_lat":{"type":"number"},"passenger_current_lon":{"type":"number"},"passenger_pick_up_time":{"type":"string"},"pickup_location":{"type":"integer"},"status":{"type":"string"},"taxi_id":{"type":"string"},"time_of_day":{"type":"string"},"traffic_conditions":{"type":"string"},"trip_distance":{"type":"number"},"trip_duration":{"type":"string"},"trip_id":{"type":"string"},"trip_rating":{"type":"number"},"user_id":{"type":"string"},"vehicle_details":{"type":"string"},"weather_conditions":{"type":"string"},"EventProcessedUtcTime":{"type":"string"},"PartitionId":{"type":"integer"},"EventEnqueuedUtcTime":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/dataset_synapse')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ln_synapse_analytics')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[{"name":"booking_source","type":"varchar"},{"name":"booking_timestamp","type":"varchar"},{"name":"day_of_week","type":"varchar"},{"name":"destination_location","type":"varchar"},{"name":"driver_id","type":"varchar"},{"name":"drivers_current_lat","type":"varchar"},{"name":"drivers_current_lon","type":"varchar"},{"name":"drivers_location","type":"varchar"},{"name":"drivers_review","type":"varchar"},{"name":"estimated_arrival_time_in_m","type":"varchar"},{"name":"estimated_fare","type":"varchar"},{"name":"n_passengers","type":"varchar"},{"name":"order_completion_time","type":"varchar"},{"name":"passenger_arrival_lat","type":"varchar"},{"name":"passenger_arrival_lon","type":"varchar"},{"name":"passenger_current_lat","type":"varchar"},{"name":"passenger_current_lon","type":"varchar"},{"name":"passenger_pick_up_time","type":"varchar"},{"name":"pickup_location","type":"varchar"},{"name":"status","type":"varchar"},{"name":"taxi_id","type":"varchar"},{"name":"time_of_day","type":"varchar"},{"name":"traffic_conditions","type":"varchar"},{"name":"trip_distance","type":"float","precision":15},{"name":"trip_duration","type":"varchar"},{"name":"trip_id","type":"varchar"},{"name":"trip_rating","type":"float","precision":15},{"name":"user_id","type":"varchar"},{"name":"vehicle_details","type":"varchar"},{"name":"weather_conditions","type":"varchar"},{"name":"EventProcessedUtcTime","type":"varchar"},{"name":"PartitionId","type":"varchar"},{"name":"EventEnqueuedUtcTime","type":"varchar"}],"typeProperties":{"schema":"taxi_db","table":"taxi_calls_table"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Dataset_Json_Taxi_Raw_Processed')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"taxistreamfilesprocessed"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Dataset_Predictions_Json')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"predictions"}},"schema":{"type":"object","properties":{"eventenqueuedutctime":{"type":"string"},"trip_id":{"type":"string"},"booking_source":{"type":"string"},"day_of_week":{"type":"string"},"drivers_review":{"type":"string"},"estimated_arrival_time_in_m":{"type":"string"},"time_of_day":{"type":"string"},"traffic_conditions":{"type":"string"},"weather_conditions":{"type":"string"},"prob_of_cancellation":{"type":"number"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/predictions_dataset')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ln_synapse_analytics')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[{"name":"eventenqueuedutctime","type":"varchar"},{"name":"trip_id","type":"varchar"},{"name":"booking_source","type":"varchar"},{"name":"day_of_week","type":"varchar"},{"name":"drivers_review","type":"varchar"},{"name":"estimated_arrival_time_in_m","type":"varchar"},{"name":"time_of_day","type":"varchar"},{"name":"traffic_conditions","type":"varchar"},{"name":"weather_conditions","type":"varchar"},{"name":"prob_of_cancellation","type":"float","precision":15}],"typeProperties":{"schema":"taxi_db","table":"PREDICTIONS"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Dataset_Json_Predictions_Processed')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('ln_blob_storage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"predictionsprocessed"}},"schema":{}},"dependsOn":[]}]}